*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100vh;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  width: 400px;
  background-color: rgb(208, 248, 235);
  border-radius: 50px;
  padding: 10px;
  box-shadow: 1px 1px 6px 1px;
}

.profile{
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid rgba(31, 27, 27, 0.671);
}

.details{
  padding: 15px;
}

.details > div{
  padding: 10px;
}

.names{
  display: flex;
  width: 100%;
}

.names > div {
  min-width: 50%;
}

.btn{
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  padding: 5px;
  font-size: 20px;
  border-radius: 10px;
  background-color: #022049;
  color: #FFF;
}

label{
  color: rgba(57, 52, 52, 0.683);
}

.loader-wrapper{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(111, 103, 103, 0.46);
}
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #FFF #FFF transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #FF3D00 #FF3D00;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 32px;
  height: 32px;
  border-color: #FFF #FFF transparent transparent;
  animation: rotation 1.5s linear infinite;
}
    
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

/* responsive design  */
    
